<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INFO3180 Flask App - Lab 1</title>
    <link rel="stylesheet" href="/static/css/app.css">

  </head>
  <body>
    <div class="container">
      <h2 style="color: blue">Hello Taniska</h2>
      <p style="color: orange">
        
      </style>This is my page. Teehee.</p>
            <p>I am begining to wonder if I had made this file before.
                it feels a bit creepy seeing my namme popped infront me and there's 
                no rememberance of me editing it prior to now.</p>
    </div>
  </body>
</html>
